######################################################################
#                                                                    #
#          THIS FILE IS A TEMPLATE OF THE GoSam INPUT FILE           #
#                                                                    #
# The informations contained in this file are passed to GoSam        #
# together with the informations contained in the LH-orderfile       #
# 'orderfile.lh' to generate the 1-loop virtual amplitudes.          #
#                                                                    #
# Please ADAPT this file to your needs and RENAME it to 'gosam.rc'   #
# before running the 'makevirt' script.                              #
#                                                                    #
#	FOR MORE INFORMATIONS ABOUT THE POSSIBLE OPTIONS PLEASE	     #
#	REFER TO THE GOSAM MANUAL (http://gosam.hepforge.org/)	     #
#                                                                    #
######################################################################

######################################################################
## ------------------------ physics options ----------------------- ##
######################################################################

##-- model ---------------------------------------------------------##
#  Choose between SM and SM with diagonal CKM matrix uncommenting    #
#  what is needed:                                                   #
##------------------------------------------------------------------##
model=sm
# model=smdiag

##-- model.options (comma separated list) --------------------------##
#  If the model in use supports options they can be passed via this  #
#  property.                                                         #
#  Not streactly needed.                                             #
##------------------------------------------------------------------##
model.options= masses: mT mH, \
       mW: 80.419, mZ: 91.188, GF: 0.0000116639, \
       Nf:5, Nfgen:5, wW:2.0476

#       alpha: 0.0073, mZ: 90.0, GF: 0.0000116639, \
%       Nf:5, Nfgen:5, wW:2.1054


##-- one/zero ------------------------------------------------------##
#    A list of symbols that should be treated as identically         #
#    one/zero throughout the whole calculation. Within Powhegbox     #
#    gs,e should always be treated as identical to one               #
##------------------------------------------------------------------##
one=gs,e
zero=me,mU,mD,mC,mS,mB,mBMS,wB,wT

##-- symmetries ----------------------------------------------------##
#    List of symmentries which could simplify the virtual code.      #
#    Possible examples are:                                          #
#    family: helicity conservation along quark line		     #
#    generation: helicity conservation along lepton line	     #
##------------------------------------------------------------------##
symmetries=generation, %-11=+, %2=-, %4=-, %1=-, %3=-, %5=-, \
                              %-2=+,%-4=+,%-1=+,%-3=+,%-5=+

#-- qgraf.options (comma separated list) ---------------------------##
#  A list of options which is passed to qgraf via the 'options' line.#
#  Possible values (as of qgraf.3.1.1) are zero, one or more of:     #
#  onepi, onshell, nosigma, nosnail, notadpole, floop, topol         #
#  Please, refer to the QGraf documentation for details.             #
##------------------------------------------------------------------##
qgraf.options=onshell,notadpole,nosnail

#-- qgraf.verbatim (text) ------------------------------------------##
#   This option allows to send verbatim lines to the file qgraf.dat. #
#   This allows to put additional restrictions on the diagrams.      #
#   This option is mainly inteded for the use of the operators       #
#       rprop, iprop, chord, bridge, psum                            #
#   Note, that the use of 'vsum' might interfer with the             #
#   option qgraf.power.                                              #
#   Please, refer to the QGraf documentation for details.            #
##------------------------------------------------------------------##
qgraf.verbatim=\
# no electron-Higgs: \n\
true=iprop[ep,em,ne,nebar,phim,phip,chi,0,0];
## at least one Wm,Wp and at most two : \n\
##true=iprop[Wp,Wm,1,2];

#-- filter (text) --------------------------------------------------##
#  A python function which provides a filter for loop diagrams.	     #
#  For more details about this option we refer to the GoSam manual   #  
#  Ideally filters are defined in a separate file, whose PATH is     #
#  set in the filter.module option. If the file with the filters     #
#  is in the same directory as this one, giving the name is enough.  #
##------------------------------------------------------------------##
filter.module=filter.py
filter.lo= no_hff
filter.nlo= no_hff

#-- extensions (comma separated list) ------------------------------##
#  A list of extension names which should be activated for the	     #
#  code generation. These names are not standardised at the moment.  #
#                                                                    #
#  One option which is affected by this is LDFLAGS. In the following #
#  example only ldflags.looptools is added to the LDFLAGS variable   #
#  in the makefiles whereas the variable ldflags.qcdloop is ignored. #
#                                                                    #
#    extensions=golem95,samurai                                      #
#                                                                    #
#    ldflags.qcdloops=-L/usr/local/lib -lqcdloop                     #
#                                                                    #
#      NOTE: Make sure you activate at least one of		     #
#           'samurai' and 'golem95'.                                 #
#                                                                    #
#    Currently active extensions:                                    #
#                                                                    #
#  samurai      --- use Samurai for the reduction                    #
#  golem95      --- use Golem95 for the reduction                    #
#  pjfry        --- use PJFry for the reduction (experimental)       #
#  dred         --- use four dimensional algebra (dim. reduction)    #
#  autotools    --- use Makefiles generated by autotools             #
#  qshift       --- apply the shift of Q already at the FORM level   #
#  topolynomial --- (with FORM >= 4.0) use the ToPolynomial command  #
#  no-fr5       --- do not generate finite gamma5 renormalisation    #
#  numpolvec    --- evaluate polarisation vectors numerically        #
#  derive       --- tensorial reconstruction using derivatives       #
##------------------------------------------------------------------##
extensions=samurai, golem95, derive, numpolvec, olp_badpts, formopt

#-- SP_check -------------------------------------------------------##
#    Single Pole check parameters:                                   #
#    SP_check: switch SP check on and off                            #
#    SP_verbosity: sets the output level of the check                #
#     		   0 -> no output, 1-> only if rescue fails,         #
#		   2 -> output whenever th rescue system is called   #
#    SP_chk_threshold1: threshold to apply rescue                    #
#    SP_chk_threshold2: threshold to declare rescue failed           #
##------------------------------------------------------------------##
PSP_check=True
PSP_verbosity=1
PSP_chk_threshold1=3
PSP_chk_threshold2=4
PSP_chk_kfactor=-1

diagsum=True
abbrev.level=diagram

######################################################################
## ------------------------ program options ----------------------- ##
######################################################################

#-- qgraf.bin ------------------------------------------------------##
#    Points to the QGraf executable.                                 #
#    Example:                                                        #
#    qgraf.bin=/home/my_user_name/bin/qgraf                          #
##------------------------------------------------------------------##
qgraf.bin=qgraf

#-- form.bin (text) ------------------------------------------------##
#    Points to the Form executable.                                  #
#    Examples:                                                       #
#    form.bin=tform  |     form.bin=/home/my_user_name/bin/form      #
##------------------------------------------------------------------##
form.bin=tform
form.threads=2

#-- form.tempdir (text) --------------------------------------------##
#    Temporary directory for Form. Should point to a directory       #
#    on a local disk.                                                #
#    Examples:                                                       #
#    form.tempdir=/tmp   | form.tempdir=/scratch                     #
##------------------------------------------------------------------##
form.tempdir=/tmp

#-- fc.bin (text) --------------------------------------------------##
#    Denotes the executable file of the Fortran90 compiler.          #
##------------------------------------------------------------------##
fc.bin=gfortran -O2

#-- samurai.fcflags (text) -----------------------------------------##
#    FCFLAGS required to compile with samurai.                       #
#    Example:                                                        #
#    samurai.fcflags=-I/usr/local/include/samurai                    #
##------------------------------------------------------------------##
# samurai.fcflags=-I${HOME}/include/samurai

#-- samurai.ldflags (text) -----------------------------------------##
#    LDFLAGS required to link samurai.                               #
#    Example:                                                        #
#    samurai.ldflags=-L/usr/local/lib/ -lsamurai-gfortran-double     #
##------------------------------------------------------------------##
# samurai.ldflags=-L${HOME}/lib/ -lqcdloop -lavh_olo -lsamurai

#-- golem95.fcflags (text) -----------------------------------------##
#    FCFLAGS required to compile with golem95.                       #
#    Example:                                                        #
#    golem95.fcflags=-I/usr/local/include/golem95                    #
##------------------------------------------------------------------##
# golem95.fcflags=-I${HOME}/include/golem95

#-- golem95.ldflags (text) -----------------------------------------##
#    LDFLAGS required to link golem95.                               #
#    Example:                                                        #
#    golem95.ldflags=-L/usr/local/lib/ -lgolem-gfortran-double       #
##------------------------------------------------------------------##
# golem95.ldflags=-L${HOME}/lib/ -lgolem

